.App {
  font-family: sans-serif;
  text-align: center;
}

.img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.skeleton {
  background-color: gold;
  animation: ani 1s linear infinite alternate;
}

@keyframes ani {
  0% {
    background: hsl(192, 31%, 93%);
  }
  100% {
    background: hsl(215, 25%, 66%);
  }
}
